.mainHeading{
    color: tomato;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.semiHeading{
    color: lightseagreen;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.center{
    text-align: center;
}